@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&family=Noto+Sans+JP:wght@300&family=Shippori+Mincho&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-text: #1A1714;
  --color-background: #F3F0E8;
  --color-primary: #8B1E1E;
  --color-secondary: #7A7062;
  --color-accent: #EDE9DF;
  
  --font-shippori: 'Shippori Mincho', serif;
  --font-dm-mono: 'DM Mono', monospace;
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-shippori);
}

input {
  @apply outline-none;
}

button {
  @apply outline-none;
  @apply cursor-pointer;
}